// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*@font-face {
  font-family: Naheulbeuk;
  src: url("../css/folkard_.ttf");
}*/
@font-face {
  font-family: Naheulbeuk;
  src: url("../css/Dauphin.ttf");
}

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Styles limited to naheulbeuk sheets */
.naheulbeuk {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/items';
  @import 'components/effects';
}