<ol class="items-list">
  <br/>
  <div class="tab features" style="height: auto;font-size: 16px;">
    {{#each apes as |item id|}}
      <li class="item flexrow " data-item-id="{{item._id}}">
        <label>
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          <strong><u>{{item.name}} - niveau&nbsp;</u>{{item.data.niveau}}</strong>
        </label>
      </li>
      <li>
        <div>Description : {{item.data.description}}</div>
      </li>
      <li>
        <div>Effet : {{item.data.effet}}</div>
      </li>
      <hr>
    {{/each}}
  </div>
</ol>