{{save_actor}}
<ol class="items-list">
  <div class="tab features" style="height: auto;font-size: 16px;">
    {{#each coups as |item id|}}
     <!-- Coups spéciaux de type Bourre Pif -->
    {{#if (equals system.bourrepif true)}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div style="margin-bottom: 5px;margin-top: 5px;">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        <strong><u>{{item.name}}</u></strong>
        {{#if (equalsor item.system.epreuve "" item.system.epreuve "-")}}
        {{else}}
        &nbsp;- épreuve : {{replaceAttr item.system.epreuve}}
        <i class="fas fa-dice-d20 rollable2" data-dice="d20" data-name="Épreuve d'attaque - {{item.name}}"
          data-diff="{{item.system.epreuve}}"></i>
        <i class="fas fa-dice-d6 rollable3" data-dice="d20" data-name="Épreuve - {{item.name}}"
          data-diff="{{item.system.epreuve}}"></i>
        {{/if}}
        {{#if (equalsor item.system.degat "" item.system.degat "-")}}
        {{else}}
        &nbsp;- dégâts : {{replaceAttr item.system.degat}}
        <i class="fas fa-dice-d20 rollable2" data-dice="{{item.system.degat}}" data-name="Dégâts - {{item.name}}"
          data-diff=""></i>
        <i class="fas fa-dice-d6 rollable3" data-dice="{{item.system.degat}}" data-name="Épreuve - {{item.name}}"
          data-diff=""></i>
        {{/if}}
        {{#if (equals item.system.attaque "")}}
        {{else}}
        {{#if (equals item.system.attaque "-")}}
        {{else}}
        &nbsp;- spéciale : {{replaceAttr item.system.attaque}}
        <i class="fas fa-dice-d20 rollable2" data-dice="d20" data-name="Épreuve spéciale - {{item.name}}"
          data-diff="{{item.system.attaque}}"></i>
        <i class="fas fa-dice-d6 rollable3" data-dice="d20" data-name="Épreuve - {{item.name}}"
          data-diff="{{item.system.attaque}}"></i>
        {{/if}}
        {{/if}}
      </div>
    </li>
    <li class="flexrow">
      <div>Effet : {{item.system.effet}}</div>
    </li>

     <!-- Autre coups spéciaux -->
    {{else}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div style="margin-bottom: 5px; margin-top: 5px;">
        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        <strong><u>{{item.name}}</u></strong>
        {{#if (equalsor item.system.epreuve "" item.system.epreuve "-")}}
        {{else}}
        {{#if (equalsnot (first item.system.epreuve) "*")}}
        &nbsp;- épreuve : {{replaceAttr item.system.epreuve}}
        <i class="fas fa-dice-d20 rollable2" data-dice="d20" data-name="Épreuve - {{item.name}}"
          data-diff="{{item.system.epreuve}}"></i>
        <i class="fas fa-dice-d6 rollable3" data-dice="d20" data-name="Épreuve - {{item.name}}"
          data-diff="{{item.system.epreuve}}"></i>
        {{else}}
        &nbsp;- épreuve : {{first2 item.system.epreuve}}
        {{/if}}
        {{/if}}
        {{#if (equalsor item.system.degat "" item.system.degat "-")}}
        {{else}}
        {{#if (equalsnot (first item.system.degat) "*")}}
        &nbsp;- dégâts : {{replaceAttr item.system.degat}}
        <i class="fas fa-dice-d20 rollable2" data-dice="d20" data-name="Épreuve - {{item.name}}"
          data-diff="{{item.system.degat}}"></i>
        <i class="fas fa-dice-d6 rollable3" data-dice="d20" data-name="Épreuve - {{item.name}}"
          data-diff="{{item.system.degat}}"></i>
        {{else}}
        &nbsp;- dégâts : {{first2 item.system.degat}}
        {{/if}}
        {{/if}}
      </div>
    </li>
    <li class="flexrow">
      <div>Condition : {{item.system.condition}}</div>
    </li>
    <li class="flexrow">
      <div>Utilisation : {{item.system.duree}}</div>
    </li>
    <li class="flexrow">
      <div>Effet : {{item.system.effet}}</div>
    </li>
    {{/if}}
    <hr>
    {{/each}}
  </div>
</ol>