

<h2 class="standard"><i class="fas fa-dice-d20"></i>&nbsp;{{name}}</h2>
<div class="flexrow">
<label style="font-size: 1.1em; padding-bottom: 6px;"><strong>{{diff}}</strong></label>
</div>
{{#if hasDescription}}
    <h4>
        <pre class="rollDescr-line">{{{description}}}</pre>
    </h4>
{{/if}}  
