

<h2 class="standard"><i class="fas fa-dice-d20"></i>&nbsp;{{name}}</h2>
<div class="flexrow">
<h3><strong>{{diff}}</strong>
</div>
{{#if hasDescription}}
    <h4>
        <pre class="rollDescr-line">{{{description}}}</pre>
    </h4>
{{/if}}  
