<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <br />
      <label class="resource-label" style="margin-bottom:5px;">Catégorie</label>
      <select name="system.categorie"
        style="width: calc(100% - 2px);font-family: Naheulbeuk;font-size: 15px;margin-top: 5px;">
        <option value="{{system.categorie}}">{{system.categorie}}</option>
        <option value="Mécanique">Mécanique</option>
        <option value="Magique">Magique</option>
        <option value="Mystique">Mystique</option>
      </select>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- As you add new fields, add them in here! --}}
    <div class="grid grid-2col">
      <div class="resource">
        <label class="resource-label">Difficulté pour détecter</label>
        <select name="system.detecter"
          style="width: calc(100% - 2px);font-family: Naheulbeuk;font-size: 15px;margin-bottom: 5px;margin-top: 2px;">
          <option value="{{system.detecter}}">{{system.detecter}}</option>
          <option value="Très facile">Très facile</option>
          <option value="Facile">Facile</option>
          <option value="Moyenne">Moyenne</option>
          <option value="Difficile">Difficile</option>
          <option value="Très difficile">Très difficile</option>
          <option value="Impossible">Impossible</option>
        </select>
      </div>
      <div class="resource">
        <label class="resource-label">Difficulté pour désamorçer</label>
        <select name="system.desamorcer"
          style="width: calc(100% - 2px);font-family: Naheulbeuk;font-size: 15px;margin-bottom: 5px;margin-top: 2px;">
          <option value="{{system.desamorcer}}">{{system.desamorcer}}</option>
          <option value="Très facile">Très facile</option>
          <option value="Facile">Facile</option>
          <option value="Moyenne">Moyenne</option>
          <option value="Difficile">Difficile</option>
          <option value="Très difficile">Très difficile</option>
          <option value="Impossible">Impossible</option>
        </select>
      </div>
    </div>
    <div class="grid grid-2col">
      <div class="resource">
        <label class="resource-label">Difficulté pour contourner</label>
        <select name="system.contourner"
          style="width: calc(100% - 2px);font-family: Naheulbeuk;font-size: 15px;margin-bottom: 5px;margin-top: 2px;">
          <option value="{{system.contourner}}">{{system.contourner}}</option>
          <option value="Très facile">Très facile</option>
          <option value="Facile">Facile</option>
          <option value="Moyenne">Moyenne</option>
          <option value="Difficile">Difficile</option>
          <option value="Très difficile">Très difficile</option>
          <option value="Impossible">Impossible</option>
        </select>
      </div>
      <div class="resource">
        <label class="resource-label">Difficulté pour s'échapper ou esquiver</label>
        <select name="system.esquiver"
          style="width: calc(100% - 2px);font-family: Naheulbeuk;font-size: 15px;margin-bottom: 5px;margin-top: 2px;">
          <option value="{{system.esquiver}}">{{system.esquiver}}</option>
          <option value="Très facile">Très facile</option>
          <option value="Facile">Facile</option>
          <option value="Moyenne">Moyenne</option>
          <option value="Difficile">Difficile</option>
          <option value="Très difficile">Très difficile</option>
          <option value="Impossible">Impossible</option>
        </select>
      </div>
    </div>

    <div class="grid grid-2col">
      <div class="resources">
        <label class="resource-label">Zone d'effet</label>
        <input type="text" name="system.zone" value="{{system.zone}}" data-dtype="String" />
      </div>
      <div class="resources">
        {{#if (equalsor system.degat "" system.degat "-")}}
        <label class="resource-label">Dégâts</label>
        {{else}}
        <label class="resource-label">Dégâts / Lancers&nbsp;<i class="fas fa-dice-d20 rollable2"
            data-name="{{item.name}}" data-dice="{{system.degat}}" data-diff="" style="font-size: 14px;"></i></label>
        {{/if}}
        <input type="text" name="system.degat" value="{{system.degat}}" data-dtype="String" />
      </div>
    </div>

    <div class="resources">
      <label class="resource-label">Personnel nécessaire</label>
      <input type="text" name="system.personnel" value="{{system.personnel}}" data-dtype="String" />
    </div>
    <hr>
    <label class="resource-label">Effet</label>
    <div class="bestiaire" style="height:500px">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>
  </section>
</form>