<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input {{#if (equals data.equipe true)}}readonly{{/if}} name="name" type="text"
          value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Quantité</label>
          <input {{#if (equals data.equipe true)}}readonly{{/if}} type="text" name="data.quantity"
            value="{{data.quantity}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">
            Poids (kg) <em style="font-weight: normal;">- ignorer pour le sac</em>
            {{#if (equals data.ignorePoidSac true)}}
            <input type="checkbox" name="data.ignorePoidSac" checked
              style="width: 11px; height: auto; margin: auto;vertical-align: middle;" />
            {{else}}
            <input type="checkbox" name="data.ignorePoidSac"
              style="width: 11px; height: auto; margin: auto;vertical-align: middle;" />
            {{/if}}
          </label>
          <input readonly type="text" name="data.weight" value="{{math data.ug "*" 0.0083}}" data-dtype="Number" />
        </div>
      </div>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Prix (po)</label>
          <input {{#if (equals data.equipe true)}}readonly{{/if}} type="text" name="data.prix" value="{{data.prix}}"
            data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Catégorie</label>
          <select name="data.categorie"
            style="width: calc(100% - 2px);font-family: Naheulbeuk;font-size: 15px;margin-bottom: 5px;">
            <option value="{{data.categorie}}">{{data.categorie}}</option>
            <option value="Divers">Divers</option>
            <option value="Livres">Livres</option>
            <option value="Potions">Potions</option>
            <option value="Ingrédients">Ingrédients</option>
            <option value="Armes">Armes</option>
            <option value="Armures">Armures</option>
            <option value="Nourritures">Nourritures</option>
            <option value="Richesses">Richesses</option>
            <option value="Objets personnels">Objets personnels</option>
            <option value="Montures">Montures</option>
          </select>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Détails</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
      {{editor content=data.note2 target="data.note2" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource" style="margin-top: 10px;">
        <div class="resources" style="margin-bottom: 10px;">
          <label class="resource-label">Gemme brute ou taillée</label>
          <input {{#if (equals data.equipe true)}}readonly{{/if}} type="text" name="data.taille" value="{{data.taille}}"
            data-dtype="String" style="flex:0.2" />
        </div>
        <div class="resources" style="margin-bottom: 10px;">
          <label class="resource-label">Nombre d'UG</label>
          <input {{#if (equals data.equipe true)}}readonly{{/if}} type="text" name="data.ug" value="{{data.ug}}"
            data-dtype="Number" style="flex:0.2" />
        </div>
        <div class="resources" style="margin-bottom: 10px;">
          <label class="resource-label">Description</label>
          <input {{#if (equals data.equipe true)}}readonly{{/if}} type="text" name="data.note" value="{{data.note}}"
            data-dtype="String" style="flex:0.2" />
        </div>
      </div>
    </div>
  </section>
</form>