<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="flexrow">
        <div class="resource flexrow" style="align-items: center;">
          <label class="resource-label"
            style="flex:0.35">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Type</label>
          <select name="system.type" style="width: calc(100% - 2px);font-family: Naheulbeuk;font-size: 15px;">
            <option value="{{system.type}}">{{system.type}}</option>
            <option value="generaliste">Généraliste</option>
            <option value="combat">Combat</option>
            <option value="feu">Feu</option>
            <option value="metamorphose">Métamorphose</option>
            <option value="thermodynamique">Thermo.</option>
            <option value="invocation">Invocation</option>
            <option value="necromancie">Nécromancie</option>
            <option value="eau">Eau et glace</option>
            <option value="terre">Terre</option>
            <option value="air">Air</option>
            <option value="tzinntch">Tzinntch</option>
            <option value="pr-niourgl">Prêtre de Niourgl</option>
            <option value="pr-dlul">Prêtre de Dlul</option>
            <option value="pr-youclidh">Prêtre de Youclidh</option>
            <option value="pr-slanoush">Prêtre de Slanoush</option>
            <option value="pr-adathie">Prêtre d'Adathie</option>
            <option value="pa-niourgl">Paladin de Niourgl</option>
            <option value="pa-slanoush">Paladin de Slanoush</option>
            <option value="pa-dlul">Paladin de Dlul</option>
            <option value="pa-braav">Paladin de Braav</option>
            <option value="pa-khornettoh">Paladin de Khornettoh</option>
            <option value="pa-crom">Poing de Crom</option>
            <option value="chamane">Chamane</option>
          </select>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a data-tab="description">Description</a>
    <a data-tab="attributes">Détails</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor enrichedDescription target="system.description" button=true editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="grid grid-3col">
        <div class="resource">
          <label class="resource-label">Niveau du sort</label>
          <input type="text" name="system.spellLevel" value="{{system.spellLevel}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">Coût du sort</label>
          <input type="text" name="system.cout" value="{{system.cout}}" data-dtype="String" />
        </div>
        <div class="resource">
          <label class="resource-label">Incantation</label>
          <input type="text" name="system.incantation" value="{{system.incantation}}" data-dtype="String" />
        </div>
      </div>
      <div class="grid grid-3col">
        <div class="resource">
          <label class="resource-label">Durée de l'effet</label>
          <input type="text" name="system.duree" value="{{system.duree}}" data-dtype="String" />
        </div>
        <div class="resource">
          <label class="resource-label">Portée du sort</label>
          <input type="text" name="system.portee" value="{{system.portee}}" data-dtype="String" />
        </div>
      </div>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Épreuve&nbsp;<span class="epreuves cliquable">+</span></label>
          <input type="text" name="system.epreuve" value="{{system.epreuve}}" data-dtype="String" />
        </div>
        <div class="resource">
          <label class="resource-label">Dégâts</label>
          <input type="text" name="system.degat" value="{{system.degat}}" data-dtype="String" />
        </div>
      </div>
      {{#if (equals system.epreuvecustom false)}}
      <div style="display:none">
        {{else}}
        <div style="display:block">
          {{/if}}
          <hr>
          <div class="flexrow">
            <label class="resource-label">Nom</label>
            <input type="text" name="system.name1" value="{{system.name1}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
            <input type="text" name="system.epreuve1" value="{{system.epreuve1}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
            <input type="text" name="system.jet1" value="{{system.jet1}}" data-dtype="String" />
          </div>
          <div class="flexrow">
            <label class="resource-label">Nom</label>
            <input type="text" name="system.name2" value="{{system.name2}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
            <input type="text" name="system.epreuve2" value="{{system.epreuve2}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
            <input type="text" name="system.jet2" value="{{system.jet2}}" data-dtype="String" />
          </div>
          <div class="flexrow">
            <label class="resource-label">Nom</label>
            <input type="text" name="system.name3" value="{{system.name3}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
            <input type="text" name="system.epreuve3" value="{{system.epreuve3}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
            <input type="text" name="system.jet3" value="{{system.jet3}}" data-dtype="String" />
          </div>
          <div class="flexrow">
            <label class="resource-label">Nom</label>
            <input type="text" name="system.name4" value="{{system.name4}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
            <input type="text" name="system.epreuve4" value="{{system.epreuve4}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
            <input type="text" name="system.jet4" value="{{system.jet4}}" data-dtype="String" />
          </div>
          <div class="flexrow">
            <label class="resource-label">Nom</label>
            <input type="text" name="system.name5" value="{{system.name5}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
            <input type="text" name="system.epreuve5" value="{{system.epreuve5}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
            <input type="text" name="system.jet5" value="{{system.jet5}}" data-dtype="String" />
          </div>
          <hr>
        </div>
        <div class="resource">
          <label class="resource-label">Effet</label>
          <input type="text" name="system.effet" value="{{system.effet}}" data-dtype="String" />
        </div>
      </div>
  </section>
</form>