<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- As you add new fields, add them in here! --}}
    <div class="resource grid grid-2col">
      <h2><label class="resource-label">Attaque&nbsp;<span class="epreuves cliquable">+</span></label></h2>
      <h2><label class="resource-label">Dégâts</label></h2>
    </div>
    <div class="resource grid grid-2col">
      <input type="text" name="system.attaque" value="{{system.attaque}}" data-dtype="String" />
      <input type="text" name="system.formula" value="{{system.formula}}" data-dtype="String" />
    </div>
    {{#if (equals system.epreuvecustom false)}}
    <div style="display:none">
      {{else}}
      <div style="display:block">
        {{/if}}
        <hr>
        <div class="flexrow">
          <label class="resource-label">Nom</label>
          <input type="text" name="system.name1" value="{{system.name1}}" data-dtype="String" />
          <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
          <input type="text" name="system.epreuve1" value="{{system.epreuve1}}" data-dtype="String" />
          <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
          <input type="text" name="system.jet1" value="{{system.jet1}}" data-dtype="String" />
        </div>
        <div class="flexrow">
          <label class="resource-label">Nom</label>
          <input type="text" name="system.name2" value="{{system.name2}}" data-dtype="String" />
          <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
          <input type="text" name="system.epreuve2" value="{{system.epreuve2}}" data-dtype="String" />
          <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
          <input type="text" name="system.jet2" value="{{system.jet2}}" data-dtype="String" />
        </div>
        <div class="flexrow">
          <label class="resource-label">Nom</label>
          <input type="text" name="system.name3" value="{{system.name3}}" data-dtype="String" />
          <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
          <input type="text" name="system.epreuve3" value="{{system.epreuve3}}" data-dtype="String" />
          <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
          <input type="text" name="system.jet3" value="{{system.jet3}}" data-dtype="String" />
        </div>
        <div class="flexrow">
          <label class="resource-label">Nom</label>
          <input type="text" name="system.name4" value="{{system.name4}}" data-dtype="String" />
          <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
          <input type="text" name="system.epreuve4" value="{{system.epreuve4}}" data-dtype="String" />
          <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
          <input type="text" name="system.jet4" value="{{system.jet4}}" data-dtype="String" />
        </div>
        <div class="flexrow">
          <label class="resource-label">Nom</label>
          <input type="text" name="system.name5" value="{{system.name5}}" data-dtype="String" />
          <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
          <input type="text" name="system.epreuve5" value="{{system.epreuve5}}" data-dtype="String" />
          <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
          <input type="text" name="system.jet5" value="{{system.jet5}}" data-dtype="String" />
        </div>
      </div>
      <hr>
      <div class="bestiaire" style="height:500px">
        {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
        rollData prop. --}}
        {{editor enrichedDescription target="system.description" button=true editable=editable}}
      </div>
  </section>
</form>