<form class="{{cssClass}}" autocomplete="off">
  <h1 class="charname" style="border-bottom: unset;"><input name="name" type="text" value="{{item.name}}"
      placeholder="Name" style="height: 45px;" /></h1>
  <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- As you add new fields, add them in here! --}}
    <div class="bestiaire" style="height:500px">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
      {{editor enrichedDescription target="system.description" button=true editable=editable}}
    </div>
  </section>
</form>