<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- As you add new fields, add them in here! --}}
    <div style="padding-bottom: 10px;">
      <h2><label class="resource-label">Description</label></h2>
      <input type="text" name="system.description" value="{{system.description}}" data-dtype="String" />
    </div>
    <div style="padding-bottom: 10px;">
      <h2><label class="resource-label">Effet</label></h2>
      <input type="text" name="system.effet" value="{{system.effet}}" data-dtype="String" />
    </div>
    <div style="padding-bottom: 10px;">
      <h2><label class="resource-label">Niveau</label></h2>
      <input type="text" name="system.niveau" value="{{system.niveau}}" data-dtype="String" />
    </div>
  </section>
</form>