<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Spécialité</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.specialites"
            value="{{system.specialites}}" data-dtype="String" />
        </div>
        <div class="resource">
          <label class="resource-label">Niveau</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.niveau"
            value="{{system.niveau}}" data-dtype="String" />
        </div>
      </div>
      <div class="resource">
        <label class="resource-label">Catégorie</label>
        <select name="system.categorie"
          style="width: calc(100% - 2px);font-family: Naheulbeuk;font-size: 15px;margin-bottom: 5px;">
          <option value="{{system.categorie}}">{{system.categorie}}</option>
          <option value="Divers">Divers</option>
          <option value="Livres">Livres</option>
          <option value="Potions">Potions</option>
          <option value="Ingrédients">Ingrédients</option>
          <option value="Armes">Armes</option>
          <option value="Armures">Armures</option>
          <option value="Nourritures">Nourritures</option>
          <option value="Richesses">Richesses</option>
          <option value="Objets personnels">Objets personnels</option>
          <option value="Montures">Montures</option>
        </select>
      </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- As you add new fields, add them in here! --}}
    {{#if (equalsnot system.materiaux "-")}}
    <div class="resources">
      <label class="resource-label">Matériaux</label>
      <textarea name="system.materiaux" rows="3" style="height: 57px;">{{system.materiaux}}</textarea>
    </div>
    {{/if}}
    <div class="resources" style="margin-top: 8px;">
      <label class="resource-label">Outils</label>
      <input type="text" name="system.outils" value="{{system.outils}}" data-dtype="String" />
    </div>
    <div class="grid grid-3col">
      <div class="resources">
        <label class="resource-label">Temps de confection</label>
        <input type="text" name="system.temps" value="{{system.temps}}" data-dtype="String" />
      </div>
      <div class="resources">
        <label class="resource-label">Difficulté</label>
        <input type="text" name="system.difficulte" value="{{system.difficulte}}" data-dtype="String" />
      </div>
      <div class="resources">
        <label class="resource-label">XP</label>
        <input type="text" name="system.xp" value="{{system.xp}}" data-dtype="String" />
      </div>
    </div>
    <div class="resources">
      <label class="resource-label">Malus pour le non-spécialiste</label>
      <input type="text" name="system.malus" value="{{system.malus}}" data-dtype="String" />
    </div>
    <div class="resources" style="margin-top: 8px;margin-bottom: 8px;">
      <label class="resource-label">Prix</label>
      <input type="text" name="system.prix" value="{{system.prix}}" data-dtype="String" />
    </div>
    {{#if (equalsnot system.remarque "-")}}
    <div class="resources">
      <label class="resource-label">Remarques</label>
      <textarea name="system.remarque" rows="2" style="height: 42px;">{{system.remarque}}</textarea>
    </div>
    {{/if}}
    <hr>
    <label class="resource-label">Confection</label>
    <div class="bestiaire" style="height:500px">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>
  </section>
</form>