<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="ability flexrow" style="align-items: center;">
        <div style="flex:0.35;font-size: 17px;"><span>Compétence choisie</span></div>
        {{#if (equals system.choix true)}}
        <input type="checkbox" name="system.choix" checked />
        {{else}}
        <input class="majcomp" type="checkbox" data-name="system.choix" data-item={{item}} />
        {{/if}}
      </div>
      <div class="ability flexrow" style="align-items: center;">
        <div style="flex:0.55;font-size: 17px;"><span>Compétence gagnée</span></div>
        {{#if (equals system.gagne true)}}
        <input type="checkbox" name="system.gagne" checked />
        {{else}}
        <input class="majcomp" type="checkbox" data-name="system.gagne" />
        {{/if}}
        <input type="text" name="system.gagneSource" value="{{system.gagneSource}}" data-dtype="String" />
      </div>
      <div class="ability flexrow" style="align-items: center;">
        <div style="flex:0.35;font-size: 17px;"><span>Compétence de base</span></div>
        {{#if (equals system.base true)}}
        <input type="checkbox" name="system.base" checked />
        {{else}}
        <input class="majcomp" type="checkbox" data-name="system.base" />
        {{/if}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Description</a>
    <a class="item" data-tab="description">Détails</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="attributes">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="description">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <h2><label class="resource-label">Jet de dés</label></h2>
        <input type="text" name="system.formula" value="{{system.formula}}" data-dtype="String" />
      </div>
      <br />
      <div class="resource">
        <h2><label class="resource-label">Difficulté</label></h2>
        <input type="text" name="system.diff" value="{{system.diff}}" data-dtype="String" />
      </div>
    </div>
  </section>

</form>