<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <div class="flexrow" style="align-items: center;">
        <h1 class="charname" style="flex:1"><input {{#if (equals system.equipe true)}}readonly{{/if}} name="name" type="text"
          value="{{item.name}}" placeholder="Name" /></h1>
        <i class="fas fa-eye masquerstats cliquable" style="flex:0.01;padding-left:3px"></i>
      </div>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label">Quantité</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.quantity"
            value="{{system.quantity}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label">
            Poids (kg) <em style="font-weight: normal;">- ignorer pour le sac</em>
            {{#if (equals system.ignorePoidSac true)}}
            <input type="checkbox" name="system.ignorePoidSac" checked
              style="width: 11px; height: auto; margin: auto;vertical-align: middle;" />
            {{else}}
            <input type="checkbox" name="system.ignorePoidSac"
              style="width: 11px; height: auto; margin: auto;vertical-align: middle;" />
            {{/if}}
          </label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.weight" value="{{system.weight}}"
            data-dtype="Number" />
        </div>
      </div>
      <div class="grid grid-2col">
        {{#if (equals system.cacher false)}}
        <div class="resource">
          <label class="resource-label">Prix (po)</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.prix" value="{{system.prix}}"
            data-dtype="Number" />
        </div>
        {{/if}}
        <div class="resource">
          <label class="resource-label">Catégorie</label>
          <select name="system.categorie"
            style="width: calc(100% - 2px);font-family: Naheulbeuk;font-size: 15px;margin-bottom: 5px;">
            <option value="{{system.categorie}}">{{system.categorie}}</option>
            <option value="Divers">Divers</option>
            <option value="Livres">Livres</option>
            <option value="Potions">Potions</option>
            <option value="Ingrédients">Ingrédients</option>
            <option value="Armes">Armes</option>
            <option value="Armures">Armures</option>
            <option value="Nourritures">Nourritures</option>
            <option value="Richesses">Richesses</option>
            <option value="Objets personnels">Objets personnels</option>
            <option value="Montures">Montures</option>
          </select>
        </div>
      </div>
    </div>
  </header>
  {{#if (equals system.cacher false)}}
  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Description</a>
    <a class="item" data-tab="description">Détails</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="attributes">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
      {{editor enrichedDescription target="system.description" button=true editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="description">
      {{!-- As you add new fields, add them in here! --}}
      <h2><label class="resource-label">Jet de dés&nbsp;<span class="epreuves cliquable">+</span></label></h2>
      <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.formula" value="{{system.formula}}"
        data-dtype="String" />
      {{#if (equals system.epreuvecustom true)}}
      <div style="display:block">
        {{else}}
        <div style="display:none">
          {{/if}}
          <hr>
          <div class="flexrow">
            <label class="resource-label">Nom</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.name1" value="{{system.name1}}"
              data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.epreuve1"
              value="{{system.epreuve1}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.jet1" value="{{system.jet1}}"
              data-dtype="String" />
          </div>
          <div class="flexrow">
            <label class="resource-label">Nom</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.name2" value="{{system.name2}}"
              data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.epreuve2"
              value="{{system.epreuve2}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.jet2" value="{{system.jet2}}"
              data-dtype="String" />
          </div>
          <div class="flexrow">
            <label class="resource-label">Nom</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.name3" value="{{system.name3}}"
              data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.epreuve3"
              value="{{system.epreuve3}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.jet3" value="{{system.jet3}}"
              data-dtype="String" />
          </div>
          <div class="flexrow">
            <label class="resource-label">Nom</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.name4" value="{{system.name4}}"
              data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.epreuve4"
              value="{{system.epreuve4}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.jet4" value="{{system.jet4}}"
              data-dtype="String" />
          </div>
          <div class="flexrow">
            <label class="resource-label">Nom</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.name5" value="{{system.name5}}"
              data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Difficulté</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.epreuve5"
              value="{{system.epreuve5}}" data-dtype="String" />
            <label class="resource-label">&nbsp;&nbsp;Jet de dés</label>
            <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.jet5" value="{{system.jet5}}"
              data-dtype="String" />
          </div>
          <hr>
      </div>
      <div class="resource" style="margin-top: 10px;">
        <h2><label class="resource-label">Bonus / Malus :</label></h2>
        <div class="resources flexrow" style="margin-bottom: 10px;">
          <label class="resource-label">Courage</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.cou" value="{{system.cou}}"
            data-dtype="Number" style="flex:0.2" />
          <label class="resource-label">&nbsp;&nbsp;&nbsp;Intelligence</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.int" value="{{system.int}}"
            data-dtype="Number" style="flex:0.2" />
          <label class="resource-label">&nbsp;&nbsp;&nbsp;Charisme</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.cha" value="{{system.cha}}"
            data-dtype="Number" style="flex:0.2" />
        </div>
        <div class="resources flexrow" style="margin-bottom: 10px;">
          <label class="resource-label">Adresse</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.ad" value="{{system.ad}}"
            data-dtype="Number" style="flex:0.2" />
          <label class="resource-label">&nbsp;&nbsp;&nbsp;Force</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.fo" value="{{system.fo}}"
            data-dtype="Number" style="flex:0.2" />
          <label class="resource-label">&nbsp;&nbsp;&nbsp;Attaque</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.att" value="{{system.att}}"
            data-dtype="Number" style="flex:0.2" />
        </div>
        <div class="resources flexrow" style="margin-bottom: 10px;">
          <label class="resource-label">Parade</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.prd" value="{{system.prd}}"
            data-dtype="Number" style="flex:0.2" />
          <label class="resource-label">&nbsp;&nbsp;&nbsp;Protection</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.pr" value="{{system.pr}}"
            data-dtype="Number" style="flex:0.2" />
          <label class="resource-label">&nbsp;&nbsp;&nbsp;Protection Magique</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.prm" value="{{system.prm}}"
            data-dtype="Number" style="flex:0.2" />
        </div>
        <div class="resources flexrow" style="margin-bottom: 10px;">
          <label class="resource-label">Mouvement (%)</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.mvt" value="{{system.mvt}}"
            data-dtype="Number" style="flex:0.2" />
          <label class="resource-label">&nbsp;&nbsp;&nbsp;Résistance magique</label>
          <input {{#if (equals system.equipe true)}}readonly{{/if}} type="text" name="system.rm" value="{{system.rm}}"
            data-dtype="Number" style="flex:0.2" />
          <label class="resource-label">&nbsp;&nbsp;&nbsp;</label>
          <label class="resource-label" style="flex:0.25">&nbsp;&nbsp;&nbsp;</label>
        </div>
        <div class="resources flexrow">
          <label class="resource-label">Autre</label>
          <textarea {{#if (equals system.equipe true)}}readonly{{/if}} name="system.autre" rows="2"
            style="flex:2.76;min-height: auto; height: 42px;">{{system.autre}}</textarea>
        </div>
        <hr class="hideItem">
        <div id="hideItem" style="display:none">
          <div class="resources flexrow">
            <label class="resource-label">Custom</label>
            <textarea {{#if (equals system.equipe true)}}readonly{{/if}} name="system.custom" rows="2"
              style="flex:2.76;min-height: auto; height: 42px;">{{system.custom}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{else}}
  <section class="sheet-body">
    <hr>
    <div class="bestiaire" style="height:500px">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
      {{editor enrichedDesccacher target="system.desccacher" button=true editable=editable}}
    </div>
  </section>
  {{/if}}
</form>